<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBaseDomian.Properties.Settings.TaskDataBaseConnectionString"
            connectionString="Data Source=pdmsrv;Initial Catalog=TaskDataBase;Persist Security Info=True;User ID=AirVentsCad;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="DataBaseDomian.Properties.Settings.TaskDataBaseConnectionString1"
            connectionString="Data Source=pdmsrv;Initial Catalog=TaskDataBase;Persist Security Info=True;User ID=AirVentsCad"
            providerName="System.Data.SqlClient" />
        <add name="DataBaseDomian.Properties.Settings.SWPlusDBConnectionString"
            connectionString="Data Source=pdmsrv;Initial Catalog=SWPlusDB;Persist Security Info=True;User ID=AirVentsCad;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>