<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>

      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>

    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehaviour" name="ServiceLibrary.ConcreteService.VentsManagingWebService">
        <endpoint address="VentsManagingWebService" binding="basicHttpBinding" contract="ServiceLibrary.ServiceInterface.ISolidWebService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.14.43:3535/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>

